.container{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
img{display: block;
margin: auto;}
.search{
    background-color: #ccc;
    text-align: center; 
    width: 1000px;
}
#goodleIn{ 
    display: block;  
    margin:  auto; 
    width: 500px;
    height: 25px;
    border-radius: 5px;
    border:solid #ccc;
}
button{
    margin-bottom: 5px;
    display: inline-block;
    border: none;
    padding: 7px;
}
.box{
    margin-top: 2px;
}
.boxx{
    background-color: aqua;
}
.box1{
    width: 398px;
   float: left;
   margin-right: 2px;
   height: 110px;
}
.box2{
    width:198px;
    float: left;
    margin-right: 2px;
    height: 110px;
}
.box3{
    width: 400px;
    float: left;
    height: 110px;
}
span{
    display: block;
}
a{
    display: block;
    padding-top: 5px;
}
.arc{
    display: inline-block;
}
#input{
    display: block;
    margin: 5px auto;
}
footer
{
    width: 1000px;
    height: 100px;
    text-align: center;
    margin-top: 120px;
}